<div class="container">
	<div class="row">

		<div class="col-sm-10">

			<div class="form-group">
				<input type="text" placeholder="Enter url here ..."
					class="form-control" id="url" ng-model="element.url">
			</div>
		</div>
		<div class="col-sm-2">
			<div class="form-group">
				<button type="button" ng-click="loadIframe()" class="btn btn-info">GO</button>
			</div>
		</div>

		<div class="col-sm-4">
			<h3>Tool bar</h3>
			<textarea id="editor" rows="8" cols="50"></textarea>
		</div>
		<div class="col-sm-8">
			<iframe width="600" height="600" id="iframe"
				src="localhost/HtmlAnalyzer/#/app/home"></iframe>
		</div>




	</div>


</div>